p.major{ 
 font-size: 14pt; 
 font-style: italic; 
 font-family: 'Times New Roman', Times, serif; 
} 
p.minor{ 
 font: 20pt bold "courier new"; 
} 
h2{ 
 font-size: 20pt; 
 font-weight: bold; 
 font-family: 'Times New Roman', Times, serif; 
} 
h3{ 
 font-size: 16pt; 
 color: green; 
 font-family: 'Courier New', Courier, monospace; 
} 
table{ 
 border-top-width:medium; 
 border-bottom-width: thick; 
 border-top-color: red; 
 border-bottom-color: blue; 
 border-top-style: dotted; 
 border-bottom-style: dashed; 
} 
p{ 
 border-style: dashed; 
 border-width: thin; 
 border-color: green; 
} 
p.one{ 
 padding: 0.2in; 
 background-color: #c0c0c0; 
 border-style: solid; 
} 
th.red{color: red;} 
th.green{color: green;} 
th.blue{color: blue;} 
.abcd{ 
 font-size: 24pt; 
 font-family: Arial, Helvetica, sans-serif; 
 color: red; 
}
